{% extends 'main/base.html' %}

{% block title %}
Редактировать задачу
{% endblock %}

{% block content %}
    <h1>Редактировать задачу</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="save" class="btn btn-primary">Сохранить</button>
            <button type="submit" name="delete" class="btn btn-danger">Удалить</button>
        </form>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
{% endblock %}